<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Keliones</title>
    <meta charset="utf-8">
    		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    		<link rel="stylesheet" href="jqueryui.css">	
		<link rel="stylesheet" href="main.css">		
		<style>
			.anuliuotas, .sanuliuotas {
				background-color: lightblue;
			}
			.ivykdytas, .sivykdytas {
				background-color: lightgreen;
			}
			table {
				border-collapse: colapse;
			}
			th {
				background-color: lightgreen;			
			}
			th, td {
				padding: 6px;
				border: 1px solid grey;
			}
			.ch_lab {
				display: inline-block ! important;
			}
		</style>
	    <script
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous">
	    </script>
	    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>	    
	    <script src="crud.js"></script>
	    <script>
		$( document ).ready ( function() {

			params = {
			
				fields: [ 'pav', 'apras', 'flagPoilsines', 'flagPazintines', 'flagViskasIsk', 'flagLaisvPasir' ]
				, fields_names: [ 'Kelionė', 'Aprašymas', 'poilsinė', 'pažintinė', 'viskas<br>įsk.', 'laisv.<br>pasir.' ]
				, url : 'http://localhost:8080/ajax/lst-keliones'
				, field_data: ''
				, id_html_saraso: 'keliones'
				, id_html_dialog_formos: 'keliones-dialog'
				, dialog_size_x: 400
				, dialog_size_y: 490
				, title_dialog_form: 'Kelione'
				, url_save_rec: 'http://localhost:8080/ajax/saugoti-kelione'
				, url_delete_rec:  'http://localhost:8080/ajax/salinti-kelione'
				, fields_edit:  [ 'pav', 'apras', 'flagPoilsines', 'flagPazintines', 'flagViskasIsk', 'flagLaisvPasir' ]
				, fields_ed_types: [ 'text', 'textarea', 'checkbox', 'checkbox', 'checkbox', 'checkbox' ]
				, field_name: 'pav'
			}
			
			crud_kategoriju = new crud ( params );
			
			crud_kategoriju.initEmpty();
			crud_kategoriju.refreshData();
			
		});			
	</script>
</head>
<body>
    <nav>
	<a th:each="menu_item : ${lst_menu}" th:href="${menu_item.itemurl()}" th:text="${menu_item}"></a>
    </nav>
<div id="keliones-dialog" class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 0px; max-height: none; height: 259.053px;">
<p class="validateTips">Visi laukeliai turi buti užpildyti.</p><p class="name_item" id="name_item">Nauja Kelione</p>
<form action=""><fieldset><label for="pav">Kelionė</label>
<input type="text" name="pav" id="pav" value="" class="text ui-widget-content ui-corner-all">
<label for="apras">Aprašymas</label>
<textarea name="apras" id="apras" value="" rows="4" cols="40"></textarea><br><br>
<input  class="ch_lab" type="checkbox" name="flagPoilsines" id="flagPoilsines" value="1"> - <label class="ch_lab" for="flag_poilsines">poilsinė</label><br>
<input  class="ch_lab" type="checkbox" name="flagPazintines" id="flagPazintines" value="1"> - <label class="ch_lab"  for="flag_pazintines">pažintinė</label><br>
<input  class="ch_lab" type="checkbox" name="flagViskasIsk" id="flagViskasIsk" value="1"> - <label class="ch_lab"  for="flag_viskas_isk">viskas įskaičiuota</label><br>
<input  class="ch_lab" type="checkbox" name="flagLaisvPasir" id="flagLaisvPasir" value="1"> - <label class="ch_lab"   for="flag_laisv_pasir">laisvas pasirinkimas</label><br>
<!-- Allow form submission with keyboard without duplicating the dialog button -->
<input type="submit" tabindex="-1" style="position:absolute; top:-1000px"></fieldset><input type="hidden" name="id" id="id_rec" value="0">
</form>
</div>
	<div id="keliones">
	</div>
</body>
</html>