<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Keliones</title>
    <meta charset="utf-8">
    		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    		<link rel="stylesheet" href="jqueryui.css">	
		<link rel="stylesheet" href="main.css">		
		<style>
			.anuliuotas, .sanuliuotas {
				background-color: lightblue;
			}
			.ivykdytas, .sivykdytas {
				background-color: lightgreen;
			}
			table {
				border-collapse: colapse;
			}
			th {
				background-color: lightgreen;			
			}
			th, td {
				padding: 6px;
				border: 1px solid grey;
			}
			.ch_lab {
				display: inline-block ! important;
			}
		</style>
	    <script
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous">
	    </script>
	    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>	    
	    <script src="crud.js"></script>
	    <script>
		$( document ).ready ( function() {

			params = {
			
				fields: [ 'vardas',  'pavarde','vartojaAlkGer', 'alergRie', 'alergPienPro' ]
				, fields_names: [ 'Klientas', 'vartoja alkoholinius <br> gerimus', 'alergiskas <br> riesutams', 'alergiskas pieno <br> produktams']
				, url : 'http://localhost:8080/ajax/lst-klientai'
				, field_data: ''
				, id_html_saraso: 'klientai'
				, id_html_dialog_formos: 'klientai-dialog'
				, dialog_size_x: 400
				, dialog_size_y: 490
				, title_dialog_form: 'Klientas'
				, url_save_rec: 'http://localhost:8080/ajax/saugoti-klienta'
				, url_delete_rec:  'http://localhost:8080/ajax/salinti-klienta'
				, fields_edit:  [ 'vardas', 'pavarde', 'vartojaAlkGer', 'alergRie', 'alergPienPro']
				, fields_ed_types: [ 'text','text', 'checkbox', 'checkbox', 'checkbox',  ]
				, field_name: 'vardas', 'pavarde'
				, details_url: [ { url: 'klientas?id=', name: 'plačiau' }, { url: 'pasiulymai?id=', name: 'pasiūlymai' } ] 								
			}
			
			crud_kategoriju = new crud ( params );
			
			crud_kategoriju.initEmpty();
			crud_kategoriju.refreshData();

		});			
	</script>
</head>
<body>
<nav>
	<a th:each="menu_item : ${lst_menu}" th:href="${menu_item.itemurl()}" th:text="${menu_item}"></a>
</nav>
<div id="klientai-dialog" class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 0px; max-height: none; height: 259.053px;">
<p class="validateTips">Visi laukeliai turi buti užpildyti.</p><p class="name_item" id="name_item">Naujas klientas</p>
<form action=""><fieldset><label for="pav">Klientas</label>
<input type="text" name="vardas" id="vardas" value="" class="text ui-widget-content ui-corner-all"><br><br>
<input type="text" name="pavarde" id="pavarde" value="" class="text ui-widget-content ui-corner-all"><br><br>
<input  class="ch_lab" type="checkbox" name="vartojaAlkGer" id="vartojaAlkGer" value="1"> - <label class="ch_lab" for="vartojaAlkGer">Vartoja alkoholinius gerimus</label><br>
<input  class="ch_lab" type="checkbox" name="alergRie" id="alergRie" value="1"> - <label class="ch_lab"  for="alergRie">alergiskas riesutams</label><br>
<input  class="ch_lab" type="checkbox" name="alergPienPro" id="alergPienPro" value="1"> - <label class="ch_lab"  for="alergPienPro">alergiskas pieno produktams</label><br>
<input type="submit" tabindex="-1" style="position:absolute; top:-1000px"></fieldset><input type="hidden" name="id" id="id_rec" value="0">
</form>
</div>
	<div id="klientai">
	</div>
</body>
</html>