<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kliento keliones</title>
    <meta charset="utf-8">
    		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    		<link rel="stylesheet" href="jqueryui.css">
		<link rel="stylesheet" href="main.css">		
		<style>
			.anuliuotas, .sanuliuotas {
				background-color: lightblue;
			}
			.ivykdytas, .sivykdytas {
				background-color: lightgreen;
			}
			table {
				border-collapse: colapse;
			}
			th {
				background-color: lightgreen;			
			}
			th, td {
				padding: 6px;
				border: 1px solid grey;
			}
			.ch_lab {
				display: inline-block ! important;
			}
		</style>
	    <script
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous">
	    </script>
	    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>	    
	    <script src="crud.js"></script>
	    <script>
		$( document ).ready ( function() {
		
			var id;
		
			// let
			searchParams = new URLSearchParams(window.location.search);
		
			if ( searchParams.has( 'id' )  ) {
		
				id = searchParams.get( 'id' )		

				params = {
				
					fields: [ 
						'keliones.pav', 
						'keliones.apras', 
						'keliones.flagPoilsines', 
						'flagPazintines', 
						'keliones.flagViskasIsk', 
						'keliones.flagLaisvPasir' 
					]
					, fields_names: [ 'Kelionė', 'Aprašymas', 'poilsinė', 'pažintinė', 'viskas<br>įsk.', 'laisv.<br>pasir.' ]
					, url : 'http://localhost:8080/ajax/klientas?id=' + id
					, field_data: '.klientaiKeliones'
					, id_html_saraso: 'keliones'
					, id_html_dialog_formos: 'keliones-dialog'
					, dialog_size_x: 400
					, dialog_size_y: 490
					, title_dialog_form: 'Kelione'
					, url_save_rec: 'http://localhost:8080/ajax/kliento-kelione?id_kl=' + id
					, url_delete_rec:  'http://localhost:8080/ajax/salinti-kliento-kelione?id_kl=' + id
					, fields_edit:  [ 'id_keliones' ]
					, fields_ed_types: [ 'select' ]
					, field_name: 'keliones.pav'
				}
				
				crud_kategoriju = new crud ( params );
				
				crud_kategoriju.initEmpty();
				crud_kategoriju.refreshData();
				
				
				$.ajax({
						url: "http://localhost:8080/ajax/lst-keliones" 
				}).done(
				
					function( keliones_all ) {

						options = '';
																					// alert ( 'kiek produktu: ' + this.produktai.length );
						for ( i= 0; i < keliones_all.length; i++ ) {
																					//alert ( 'i, id, pav:' + i + ',' + this.produktai [ i ].id + ', ' + this.produktai [ i ].pav )
							options += '<option value="' + keliones_all [ i ].id + '">' + keliones_all [ i ].pav + '</option>';
						}
						
						selectas_html = '<label for="id_keliones">Kelionė</label>' +
							'<select type="text" name="id_keliones" id="id_keliones" class="text ui-widget-content ui-corner-all">' +
								options +
							'</select>';
							
						$( '#kelioniu_selectas' ).html ( selectas_html );	
					}
				);				
				
			}
		});			
	</script>
</head>
<body>
<nav>
<a th:each="menu_item : ${lst_menu}" th:href="${menu_item.itemurl()}" th:text="${menu_item}"></a>
</nav>
<div id="keliones-dialog" class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 0px; max-height: none; height: 259.053px;">
<p class="validateTips">Visi laukeliai turi buti užpildyti.</p><p class="name_item" id="name_item">Nauja Kelione</p>
<form action=""><fieldset>
<div id="kelioniu_selectas">
</div>
<!-- Allow form submission with keyboard without duplicating the dialog button -->
<input type="submit" tabindex="-1" style="position:absolute; top:-1000px"></fieldset><input type="hidden" name="id" id="id_rec" value="0">
</form>
</div>
	<div id="keliones">
	</div>
</body>
</html>